---
import '@fontsource-variable/plus-jakarta-sans';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>honsda.github.io</title>
	</head>
	<body class="bg-slate-50 font-sans min-h-screen">
		<main class="w-3/4 mx-auto py-[25vh] flex flex-col items-center justify-center">
			<slot />
		</main>
	</body>
</html>
